body {
    padding-top: 20%;
    text-align: center;
    background-image: url("Media/HertbertSamuel.jpg");
    background-repeat: no-repeat;
    background-color: #919191;

}

button {
    font-size: xx-large;
}
