body {
    padding-top: 20%;
    text-align: center;
    background-image: url("Media/HertbertSamuel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

button {
    font-size: xx-large;
}
