#header{
    position: absolute;
    text-align: center;
    background: goldenrod;
    width: 99%;
}
.content{
    padding-top: 50px
}

h1{

}
body{
    background-color: beige;
}

li{
    /*border-bottom: solid black 1px;*/
}
span{
    border-bottom: hidden;
}